<launch>


  <!-- System stat -->
  <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping">

  <!-- Face detection -->
  <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping">

  <!-- Detection -->
  <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping">

  <!-- Speak -->
  <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping">

  <!-- Speach recognition -->
  <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping">

  <!-- Comprension -->
  <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping">

  <!-- Navigation -->
  <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping">


 

  <!--
  <node name="RosAria" pkg="rosaria" type="RosAria" args="_publish_aria_lasers:=true"
      output="screen">
    <remap from="/RosAria/cmd_vel" to="/cmd_vel" />
  </node>


  <node name="laserscan_fix" pkg="ar_lab5" type="laserscan_fix"
      output="log">
    <remap from="sim_lms2xx_1_laserscan" to="/RosAria/sim_lms2xx_1_laserscan" />
  </node>




  <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping"
    output="screen">
      <remap from="/scan" to="/ar_lab5/laserscan_fixed" />
  </node>

    -->
</launch>
