<launch>
  

  <!-- System stat -->
  <node name="system_status" pkg="Pionner_practica" type="system_status">


  <!-- Detection 
  <node name="detection" pkg="Pionner_practica" type="detection">
  -->
  <!-- Speak -->
  <node name="speak" pkg="Pionner_practica" type="speak">

  <!-- Speach recognition -->
  <node name="speach_recognition" pkg="Pionner_practica" type="speach_recognition">

  <!-- Comprension -->
  <node name="comprenssion" pkg="Pionner_practica" type="comprenssion">

  <!-- Navigation -->
  <node name="navigation" pkg="Pionner_practica" type="navigation">
</launch>